@media (max-width: 1024px) {
    /* ↓↓section 1 ↓↓ ---------__--------------------__----------------- */
    .section1_text {
        width: calc(840 / 1024 * 100%);
    }

    /* ↓↓ section 2 ↓↓ ---------__--------------------__------------------- */
    .section2 {
        width: calc(840 / 1024 * 100%);
    }

    .section2_article {
        width: calc(840 / 1024 * 100%);
    }

    .article_3 {
        display: none;
    }

    .image_div {
        width: 100%;
    }

    .article_image {
        width: 100%;
    }

    /* ↓↓ section 3 ↓↓---------__--------------------__------------------ */
    .section_3 {
        width: calc(840 / 1024 * 100%);

    }

    .section3_cards {
        flex-direction: column;
    }

    .section_3image {
        flex-direction: row;
        justify-content: space-between;
        max-width: 840px;
    }

    .section3_card {
        width: 100%;
    }

    .section_3image img {
        width: calc(410 / 840 * 100%);
    }
}