@media (max-width: 660px) {
    /* ↓↓ header ↓↓ --------__--------------------__----------------- */
    header {

        margin: auto;
        justify-content: space-between;
        padding: 0 14px;

    }

    nav {
        display: none;
    }

    .burger {
        display: flex;
    }
}

@media (max-width: 480px) {

    /* header--------__--------------------__----------------- */
    header {
        
        justify-content: space-between;
    }

    /* section 1 --------__--------------------__----------------- */
    .section1 {
        margin-bottom: 48px;
    }

    h2 {
        font-size: 32px;

    }

    .section1_text {
        width: calc(347 / 480 * 100%);
        font-size: 14px;
        line-height: 22px;
    }

    /* section 2 ---------__--------------------__---------------------*/
    .section2 {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    h3 {
        font-size: 24px;
    }

    .image_div {
        flex-direction: column;
        width: calc(347 / 480 * 100%);
    }

    .section2_article {
        width: 100%;   
    }
    /* section 3 -----------__--------------------__----------------- */
    .section_3 {
        width: calc(375 / 480 * 100%);
        text-align: center;
        margin-top: 48px;
    }

    .section3_cards {
        flex-direction: column;
    }

    .section_3image {
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    .section3_card {
        width: 100%;
        height: 320px;
    }

    .section_3image img {
        width: 100%;
    }
}