.container {
    width: min(100% 1440px);
    margin: auto;

}

/* ↓↓ header ↓↓ */
header {
    display: flex;
    align-items: center;
    padding-inline: 130px;
    justify-content: space-between;


}

.header_div {
    display: flex;
    align-items: center;
    gap: 14px;
}

.header_div2 {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header_ul {
    display: flex;
    column-gap: 32px;
    align-items: center;
}

.header_text {
    color: #FA793C;
    font-family: 'Pridi', serif;
    font-size: 18px;
    font-weight: 400;
}
.header_link{
    color: #000;
    font-family: 'ABeeZee', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}

/* ↓↓ section 1 ↓↓  */
.section1 {
    height: 550px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../Image/section1_cover.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

h2 {
    color: #FFF;
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px;
    margin-bottom: 20px;
}

.section1_text {
    width: 1180px;
    color: #FFF;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
/* ↓↓↓ section 2 ↓↓↓ */
