.container {
    width: min(100% 1440px);
    margin: auto;

}

/* ↓↓ header ↓↓---------------------------------------------- */
header {
    display: flex;
    align-items: center;
    padding: 6px 130px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    max-width: 100%;
    top: 0;
    background-color: #FFF;
    z-index: 1;
    /* header ki gavfiqse zemot mara ragac ushnoa tetri tetrze memgoni sachiro arc iyo
    instruqciashi argewera magram iyos mainc  */
    
}

.burger {
    display: none;
}

li:hover {
    transition: .7s;
    scale: 1.3;

}

a:hover {
    transition: .5s;
    color: #FA793C;
}

.header_div {
    display: flex;
    align-items: center;
    gap: 14px;
}

.header_div2 {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header_ul {
    display: flex;
    column-gap: 32px;
    align-items: center;
}

.header_text {
    color: #FA793C;
    font-family: 'Pridi', serif;
    font-size: 18px;
    font-weight: 400;
}

.header_link {
    color: #000;
    font-family: 'ABeeZee', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/* ↓↓ section 1 ↓↓----------------------------------------------  */
.section1 {
    height: 550px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../Image/section1_cover.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin-bottom: 130px;
    
}

h2 {
    color: #FFF;
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 75px;
    margin-bottom: 20px;
}

.section1_text {
    width: calc(1180 / 1440 * 100%);
    color: #FFF;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

/* ↓↓↓ section 2 ↓↓↓---------------------------------------------- */
.section2 {
    /* background-color: aqua; */
    display: flex;
    width: calc(1180 / 1440 * 100%);
    margin: auto;
    flex-direction: column;
}

.section2_article {
    width: calc(380 / 1180 * 100%);
}

h3 {
    color: #000;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    margin-bottom: 35px;


}

h4 {
    color: #000;
    font-family: 'Kanit', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 8px;
}

.article_text {
    color: #000;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.image_div {
    display: flex;
    justify-content: center;
    gap: 22px;
}

.article_image {
    width: 100%;
    height: 189px;
    object-fit: cover;
}

img:hover {
    scale: 1.11;
    transition: .5s;
}

.article_text_div {
    padding: 16px 15px;
}

/* ↓↓ section 3 ↓↓---------------------------------------------- */
.section_3 {
    display: flex;
    margin: auto;
    width: calc(1180 / 1440 * 100%);
    flex-direction: column;
    margin-top: 130px;
}

.section3_card {
    width: calc(780 / 1180 * 100%);
    height: 400px;
    object-fit: cover;
}

.section3_img {
    width: 100%;
    object-fit: cover;
    height: 190px;
}

.section3_card:hover {
    scale: 1.05;
    transition: 0.5s;
}

.section3_cards {
    /* background-color: #FA793C; */
    display: flex;
    gap: 20px;
}

.section_3image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

}

/* ↓↓ footer ↓↓---------------------------------------------- */
footer {
    background-color: #000;
    display: flex;
    padding: 31px 0;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-top: 130px;
}

.footer_text {
    color: #FFF;
    font-family: 'Pridi', serif;
    font-size: 18px;
    font-weight: 400;
}

.footer_image:hover {
    transition: .5s;
    scale: 1.3;
    
}

/* yvelaze sainteresto davaleba iyo ))*/